h1 About Me
.aboutMe
  p 
    | Howdy! I'm <b>Peter French</b>, a sophomore at <b>Texas A&M University</b> working 
    | towards my BS in Computer Science. I'm originally from <b>Austin, Texas</b>.
  p You can download my resume 
    a.resume(href='/documents/Peter_French_Resume.pdf' target='_blank') here.
  p 
    | I have been a musician for most of my life. While I learned the piano like most kids, 
    | I gave that up relatively quickly. I was still interested in music, however, so in 6th
    | grade I picked up the bassoon, arguably the mosy obscure instrument I could've picked.
    | I played through middle and high school and continue to playing it today in the 
    | Texas A&M Wind Symphony.
  p
    | In addition to music, I've been active since I was a child, playing baseball, basketball,
    | football (for one ill-fated year), and tennis. Recently, I've picked up weightlifting and 
    | bouldering. I climb when I can, as College Station doesn't have a huge selection of
    | bouldering locations, and I lift 4-5 times a week.
  p 
    | As for Computer Science, my interest in the field started when I took a Computer Science
    | class my freshman year of high school. Luckily, my high school offered 4 years of courses
    | where I could continue to improve my technical abilities and learn more and more about
    | Computer Science, ranging from Java and Robotics to iOS and Android app development.
