extends layout

block content
  .wrapper(itemscope itemtype='http://schema.org/Blog')
    .blog.onLeft.gone(itemscope itemtype='http://schema.org/Person')
      a(href='/' itemprop='url')
        p #[i.fa.fa-arrow-left] To info
    .posts
      if postsInfo.length > 0
        each post in postsInfo
          .post(data= post.path itemprop='blogPost' itemscope itemtype='http://schema.org/BlogPosting')
            span(href= post.path itemprop='url')
            .title
              h1.title-text= post.title
              p.title-date= post.dateString
            .details
              p.description= post.description
      else
        .none.gone
          h1 There are no posts!
          p Come back another time and there may be some content.
    .footer.blogFoot
      .copyright
        p #[i.fa.fa-copyright(aria-hidden=true)] Peter French 2017
