extends layout

block content
  .color.color1
  .color.color2
  .wrapper(itemscope itemtype='http://schema.org/Blog')
    .blog.onLeft.gone(itemscope itemtype='http://schema.org/Person')
      meta(itemprop='name' content='Peter French')
      a(href='/' itemprop='url')
        p #[i.fa.fa-arrow-left] To info
    .posts
      if postsInfo.length > 0
        each post in postsInfo
          a(href= post.path).post(data= post.path itemprop='blogPost' itemscope itemtype='http://schema.org/BlogPosting')
            span(href= post.path itemprop='url')
            meta(itemprop='author' content='Peter French')
            div(itemprop='publisher' itemscope itemtype='http://schema.org/Organization')
              meta(itemprop='name' content='Peter French')
              meta(itemprop='logo' content='http://fwren.ch/documents/icon.png')
            meta(itemprop='image' content='http://fwren.ch/documents/icon.png')
            .title
              h1.title-text(itemprop='headline')= post.title
              p.title-date(itemprop='datePublished', datetime= year+'-'+month+'-'+day)= post.dateString
            .details
              p.description= post.description
      else
        .none.gone
          h1 There are no posts!
          p Come back another time and there may be some content.
    .footer.blogFoot
      .copyright
        p #[i.fa.fa-copyright(aria-hidden=true)] Peter French 2017
