extends layout

block content
  .wrapper
    .blog.onLeft.gone
      a(href='#')
        p #[i.fa.fa-arrow-left] To info
    h1.nav2 This is the blog of my site
    .footer
      .copyright
        p #[i.fa.fa-copyright(aria-hidden=true)] Peter French 2017
