h1 Experience
ul.experience
  li
    h3 AlienVault #[a.link(href='https://alienvault.com' target='_blank') #[i.fa.fa-link(aria-hidden=true)]]
    p #[b Software Engineering Intern] #[i Summer 2017]
    p 
    | While at AlienVault, I worked on the Platform team, working with 
    | their USM Anywhere SaaS product. I worked on a variety of things, 
    | including upgrading and migrating Elasticsearch from instance to 
    | instance, creating dashboards for their sales and marketing teams
    | to sell USM Anywhere more effectively, and creating notification 
    | apps to tie thrid party applications, notably Slack and Datadog, 
    | into their alert system. Technologies used: Elasticsearch, Kibana,
    | AWS Cloudformation and EC2, Java, Maven, Spring, Puppet Datadog,
    | Slack Webhooks, Git, Atlassian stack, Agile Development
  li
    h3 Muxy #[a.link(href='https://muxy.io' target='_blank') #[i.fa.fa-link(aria-hidden=true)]]
    p #[b Software Engineering Intern] #[i Summer 2015 and 2016]
    p 
    | While I was at Muxy, they had an interesting funding situation.
    | They completed DARPA R&D contracts to fund their start up idea, 
    | which revolves around creating tools for Twitch streamers. I 
    | worked on a variety of things, from creating levels for an 
    | on-stream pachinko game to completing a DARPA contract that was
    | used in a DoD training. I learned a ton while there, and I 
    | really credit Muxy and their team with getting me seriously 
    | interested in a career in CS. Technologies used: node.js, 
    | Express, nginx, d3.js, HTML, Pug, CSS, Python, Go, Swift, 
    | Spritekit, Git, JIRA, Agile Development
