extends layout

block content
  .nav
    h1.name Hi. I'm Peter French.
    .buttons
      .spacer
      #about.tooltip
        i.fa.fa-home.fa-2x
        span.tooltiptext About
      #experience.tooltip
        i.fa.fa-paper-plane-o.fa-2x
        span.tooltiptext Experience
      #projects.tooltip
        i.fa.fa-flask.fa-2x
        span.tooltiptext Projects
      #contact.tooltip
        i.fa.fa-comment-o.fa-2x
        span.tooltiptext Contact
      .spacer
  .back
    img.picture(src='/documents/photo.png')
    ul.info
      li #[i.fa.fa-envelope] : #[a(href='mailto:peter.fwrench@gmail.com') peter.fwrench@gmail.com]
      li #[i.fa.fa-phone] : #[a(href='tel:512-221-0375') (512)221-0375]
    .social
      a#facebook(href='#')
        i.fa.fa-facebook.fa-lg
      a#linkedin(href='#')
        i.fa.fa-linkedin.fa-lg
      a#github(href='#')
        i.fa.fa-github.fa-lg
    .back-button
      a(href='#')
        i.fa.fa-undo.fa-lg
  .card.card-1.gone
    .exit
      i.fa.fa-times-circle.fa-2x
    .substance
      include about.pug
    .spacer
  .card.card-2.gone
    .exit
      i.fa.fa-times-circle.fa-2x
    .substance
      include experience.pug
  .card.card-3.gone
    .exit
      i.fa.fa-times-circle.fa-2x
    .substance
      include projects.pug
block footer
  .footer
    .copyright
      p #[i.fa.fa-copyright] Peter French 2017
