extends layout

block content
  .control
    .nav
      h1.name Hi. I'm Peter French.
      .buttons
        #about
          a(href='#')
            i.fa.fa-home.fa-2x
        #experience
          a(href='#')
            i.fa.fa-paper-plane-o.fa-2x
        #projects
          a(href='#')
            i.fa.fa-flask.fa-2x
        #contact
          a(href='#')
            i.fa.fa-comment-o.fa-2x
    .card
      h2 This is where a picture will go.
      p I'm developer from Austin, Texas currently studying Computer Science at Texas A&M University in College Station, Texas.
block footer
  .footer
    .copyright
      p #[i.fa.fa-copyright] Peter French 2017
