doctype html
html
  head
    title= Peter French
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='//fonts.googleapis.com/css?family=Muli:200,400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='UTF-8')
    meta(name='author', content='Peter French')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='/javascripts/card.js')
  body
    block content
