h1 Projects
ul.projects
  li
    h3 peterfrench.com #[a(href='https://github.com/PFwrench/website') #[i.fa.fa-github(aria-hidden=true)]]
    p
      | I made this website you're on right now! I used node.js with Express, the 
      | Pug templating engine, JavaScript, and CSS. The next phase 
      | is to make a blog powered by markdown.
  li
    h3 YeezyBot #[a(href='https://github.com/PFwrench/YeezyBot') #[i.fa.fa-github(aria-hidden=true)]]
    p
      | This is the backend for an Atlassian Hipchat bot which fetches
      | a random Kanye West lyric from the Genius API and sends it in 
      | chat. Created using node.js, Express and the Genius API. Next
      | step is to increase functionality for any artist, and then to
      | bring the functionality to other platforms, such as Amazon Alexa.
  li
    h3 Mutable #[a(href='https://github.com/PFwrench/mutable') #[i.fa.fa-github(aria-hidden=true)]]
    p
      | Created during Tamuhack 2016, Mutable is a web app to mute users 
      | on an app user's feed for a certain amount of time, then 
      | automatically unmute them. Mutable uses Go for the backend, 
      | node.js, Express, and Pug for the frontend, and AWS Lambda for 
      | handling calls to the Twitter API.
p More projects can be found on my Github #[a.github(href='https://github.com/PFwrench/') here].
