h1 Projects
ul.projects
  li
    h3 fwren.ch #[a.github(href='https://github.com/PFwrench/website' target='_blank') #[i.fa.fa-github(aria-hidden=true)]]
    p
      | I made this website you're on right now! I used #[b node.js] with #[b Express], the 
      | #[b Pug] templating engine, #[b JavaScript], and #[b CSS]. The next phase 
      | is to make a blog powered by markdown.
  li
    h3 YeezyBot #[a.github(href='https://github.com/PFwrench/YeezyBot' target='_blank') #[i.fa.fa-github(aria-hidden=true)]]
    p
      | This is the backend for an Atlassian Hipchat bot which fetches
      | a random Kanye West lyric from the Genius API and sends it in 
      | chat. Created using #[b node.js], #[b Express] and the #[b Genius API]. Next
      | step is to increase functionality for any artist, and then to
      | bring the functionality to other platforms, such as Amazon Alexa.
  li
    h3 Mutable #[a.github(href='https://github.com/PFwrench/mutable' target='_blank') #[i.fa.fa-github(aria-hidden=true)]]
    p
      | Created during Tamuhack 2016, Mutable is a web app to mute users 
      | on an app user's feed for a certain amount of time, then 
      | automatically unmute them. Mutable uses #[b Go] for the backend, 
      | #[b node.js], #[b Express], and #[b Pug] for the frontend, and #[b AWS Lambda] for 
      | handling calls to the #[b Twitter API].
p More projects can be found on my Github #[a.github(href='https://github.com/PFwrench/') here].
