.posts {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 1000px;
  width: 95%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;

  font: 14px 'Muli', sans-serif;
  font-weight: 200;
}

.post {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid #e1e8ed;
  background-color: white;

  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin: 5px;

  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transform: translateY(50px) scale(1);
  opacity: 0;

  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-direction: row;
}

.post.enter {
  transition: transform 0.5s, opacity 0.5s;
  -webkit-transition: transform 0.5s, opacity 0.5s;
  -moz-transition: transform 0.5s, opacity 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s;
  transform: translateY(0px);
  opacity: 1;
}

.post.viewPost {
  transition: transform 0.5s, opacity 0.5s;
  -webkit-transition: transform 0.5s, opacity 0.5s;
  -moz-transition: transform 0.5s, opacity 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s;
  opacity: 0;
}

.post.postClicked.enter.hover {
  z-index: 1;
  transition: transform 0.5s, opacity 1s;
  -webkit-transition: transform 0.5s, opacity 1s;
  -moz-transition: transform 0.5s, opacity 1s;
  -o-transition: transform 0.5s, opacity 1s;
  transform: translateX(15px) scale(1.1);
}

.post.killMouse {
  pointer-events: none;
}

.post.enter.hover {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transform: translateX(15px);

  cursor: pointer;
}

.post>.title{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid #e8e8e8;

  padding-left: 10px;
  padding-right: 25px;

  max-width: 40%;

  text-align: center;
}
.post>.details, .titleCard>.details {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  align-items: center;
  justify-content: center;
}

.postLink:hover {
  text-decoration: none;
}

.title>.title-text{
  font-weight: 200;
  margin-bottom: 3px;
}
.title>.title-date {
  margin-top: 3px;
  color: #9E9EA6;
}

.details>.description {
  padding-left: 15px;
  font-size: 16px;
}

.none {
  color: #9E9EA6;
  text-align: center;
  transition: opacity 0.5s;
}

.none.gone {
  opacity: 0;
}

.blogFoot {
  position: static;
}
