.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 1000px;
  width: 95%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;

  font: 14px 'Muli', sans-serif;
  font-weight: 200;
}

.post {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid #e1e8ed;
  background-color: white;

  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin: 5px;

  transition: transform 0.5s, opacity 0.5s;
  transform: translateX(50px);
  opacity: 0;

  display: flex;
  flex-direction: row;
}

.post>.title, .titleCard>.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid #e8e8e8;
  border-radius: 5px;

  padding-left: 10px;
  padding-right: 10px;
}
.post>.details, .titleCard>.details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title>.title-text{
  font-weight: 200;
  margin-bottom: 3px;


}
.title>.title-date {
  margin-top: 3px;
  color: #9E9EA6;
}

.details>.description {
  padding-left: 15px;
  font-size: 16px;
}

.none {
  color: #9E9EA6;
  text-align: center;
  transition: opacity 0.5s;
}

.none.gone {
  opacity: 0;
}

.post.enter {
  transition: transform 0.5s, opacity 0.5s;
  transform: translateX(0px);
  opacity: 1;
}

.post.viewPost{
  transition: transform 0.5s, opacity 0.5s;
  transform: translateY(-50px);
  opacity: 0;
}
