.titleCard {
  box-sizing: inherit;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid #e1e8ed;
  background-color: white;

  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  transition: transform 0.5s, opacity 0.5s;
  -webkit-transition: transform 0.5s, opacity 0.5s;
  -moz-transition: transform 0.5s, opacity 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s;
  transform: translateY(50px);
  opacity: 0;

  max-width: 1000px;
  width: 95%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.postContent {
  box-sizing: inherit;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid #e1e8ed;
  background-color: white;

  margin: 10px 0px;

  padding: 20px 5vw;

  transition: transform 0.5s, opacity 0.5s;
  -webkit-transition: transform 0.5s, opacity 0.5s;
  -moz-transition: transform 0.5s, opacity 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s;
  transform: translateY(50px);
  opacity: 0;

  max-width: 1000px;
  width: 95%;
}

.postContent.enter, .titleCard.enter {
  opacity: 1;
  transform: translateY(0px);
}

.titleCard>.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2em;
}

.line {
  border-bottom: 1px solid #e8e8e8;
  position: relative;
  width: 50%;
}

.postPage {
  position: static;
}

.share {
  box-sizing: inherit;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid #e1e8ed;
  background-color: white;

  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  transition: transform 0.5s, opacity 0.5s;
  -webkit-transition: transform 0.5s, opacity 0.5s;
  -moz-transition: transform 0.5s, opacity 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s;
  transform: translateY(50px);
  opacity: 0;

  max-width: 1000px;
  width: 95%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.shareText {
  border-right: 1px solid #e8e8e8;
}

.share>* {
  padding: 0px 10px;
}

.share.enter {
  opacity: 1;
  transform: translateY(0px);
}
