html {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font: 14px 'Muli', sans-serif;
  font-weight: 200;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background-color: #e8e8e8;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.blog {
  color: #9E9EA6;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  transition: 0.5s;
  z-index: 1;
}

.blog.onRight {
  justify-content: flex-end;
}

.blog.onLeft {
  justify-content: flex-start;
}

.blog.onMiddle {
  justify-content: center;
}

.blog.gone {
  transition: opacity 0.5s;
  opacity: 0;
}

.blog.here {
  transition: opacity 0.5s;
  opacity: 1;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  min-height: 100vh;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  overflow-x: hidden;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 525px;
  min-height: 300px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid #e1e8ed;
  background-color: white;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  transform: translateX(-150vw);
}

.nav.enter {
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transform: translateX(0vw);
}

.name {
  font-size: 3em;
  font-weight: 200;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  color: white;
}

.buttons>* {
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  background-color: #e8e8e8;
}

.buttons>.spacer {
  opacity: 0;
  pointer: default
}

.buttons>.spacer:hover {
  cursor: default;
}

.buttons>div {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}

.buttons>div:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  cursor: pointer;
}

#about:hover {
  background-color: #C13838;
}

#experience:hover {
  background-color: #2274A5;
}

#projects:hover {
  background-color: #706DD1;
}

#contact:hover {
  background-color: #FFA630;
}

.copyright {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #9E9EA6;
  font-weight: 200;
}

.card {
  width: 50px;
  max-width: 1000px;
  max-height: 50px;

  overflow: hidden;

  margin-left: 0px;
  padding-top: 5px;

  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  position: absolute;
  z-index: 1;
}

.card>.spacer {
  width: inherit;
  height: 28px;
}

.card.enter {
  transition: background-color 0.5s 0.5s, transform 0.5s, width 0.5s 0.5s, max-height 0.5s 0.5s, top 0.5s 0.5s;
  -webkit-transition: background-color 0.5s 0.5s, transform 0.5s, width 0.5s 0.5s, max-height 0.5s 0.5s, top 0.5s 0.5s;
  -moz-transition: background-color 0.5s 0.5s, transform 0.5s, width 0.5s 0.5s, max-height 0.5s 0.5s, top 0.5s 0.5s;
  -o-transition: background-color 0.5s 0.5s, transform 0.5s, width 0.5s 0.5s, max-height 0.5s 0.5s, top 0.5s 0.5s;

  width: 95vw;
  top: 10vh;
  max-height: 1300px;

  transform: translateY(0px);
  background-color: white;
}

.card.gone {
  transition: transform 0.5s 1.0s, width 0.5s 0.5s, max-height 0.5s 0.5s, top 0.5s 0.5s, background-color 0.5s 0.5s;
  -webkit-transition: transform 0.5s 1.0s, width 0.5s 0.5s, max-height 0.5s 0.5s, top 0.5s 0.5s, background-color 0.5s 0.5s;
  -moz-transition: transform 0.5s 1.0s, width 0.5s 0.5s, max-height 0.5s 0.5s, top 0.5s 0.5s, background-color 0.5s 0.5s;
  -o-transition: transform 0.5s 1.0s, width 0.5s 0.5s, max-height 0.5s 0.5s, top 0.5s 0.5s, background-color 0.5s 0.5s;

  top: 100px;
  transform: translateY(-1000px);

  width: 50px;
  max-height: 50px;
}

.card>* {
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
}

.card.enter>* {
  transition: opacity 0.5s 1s;
  -webkit-transition: opacity 0.5s 1s;
  -moz-transition: opacity 0.5s 1s;
  -o-transition: opacity 0.5s 1s;
  opacity: 1;
}

.card.gone>* {
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  opacity: 0;
}

.exit {
  position: relative;
  display: inline-block;
  width: 28px;
}

.exit:hover {
  cursor: pointer;
}

.card-1 {
  background-color: #C13838;
  border: 3px solid #C13838;
}

.card-1>.exit {
  color: #e8e8e8;
}

.card-2 {
  background-color: #2274A5;
  border: 3px solid #2274A5;
}

.card-2>.exit {
  color: #e8e8e8;
}

.card-3 {
  background-color: #706DD1;
  border: 3px solid #706DD1;
}

.card-3>.exit {
  color: #e8e8e8;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #e1e8ed;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  opacity: 0;
  width: 80px;
  top: 100%;
  left: 50%;
  margin-left: -40px;
  transform: scale(1);
  position: absolute;
  z-index: 1;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #e1e8ed transparent;
}

.back {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 525px;
  min-height: 300px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid #e1e8ed;
  background-color: white;
  transition: 0.6s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateY(-180deg) translateX(150vw);
}

.back.enter {
  transform: rotateY(-180deg) translateX(0vw);
}

.nav.enter.flip {
  transform: rotateY(-180deg);
}

.back.enter.flip {
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transform: rotateY(0deg);
}

.social {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.social>* {
  height: 1em;
  width: 1em;
  padding: 8px;
  margin: 5px;
  text-align: center;
  border-radius: 50%;
  color: white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  background-color: #e1e8ed;
}

#facebook:hover {
  background-color: #3b5998;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

#twitter>i {
  position: relative;
  left: -0.75px;
}
#twitter:hover {
  background-color: #00aced;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

#linkedin>i {
  position: relative;
  left: -0.75px;
}

#linkedin:hover {
  background-color: #0077B5;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

#github>i {
  position: relative;
  left: -0.75px;
}

#github:hover {
  background-color: gray;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

#reddit>i {
  position: relative;
  left: -2.6px;
}
#reddit:hover {
  background-color: #FF5700;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

#link>i {
  position: relative;
  left: -2px;
}
#link:hover {
  cursor: pointer;
  background-color: #00e600;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}
.tooltip .successBubble {
  visibility: hidden;
  background-color: #00e600;
  color: white;
  text-align: center;
  padding: 0px 0;
  border-radius: 6px;
  opacity: 0;
  width: 60px;
  top: 0;
  left: 50%;
  margin-left: -30px;
  position: absolute;
  z-index: 1;
  transition: 0.2s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
}
.tooltip .successBubble.clicked {
  visibility: visible;
  transform: translateY(-30px) ;
  opacity: 1;
}
.tooltip .successBubble.clicked.gone {
  visibility: hidden;
  opacity: 0;
}

.tooltip .errorBubble {
  visibility: hidden;
  background-color: #C13838;
  color: black;
  text-align: center;
  padding: 0px 0;
  border-radius: 6px;
  opacity: 0;
  width: 60px;
  top: 0;
  left: 50%;
  margin-left: -30px;
  position: absolute;
  z-index: 1;
  transition: 0.2s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
}
.tooltip .errorBubble.clicked {
  visibility: visible;
  transform: translateY(-30px) ;
  opacity: 1;
}
.tooltip .errorBubble.clicked.gone {
  visibility: hidden;
  opacity: 0;
}

.fa-lg {
  vertical-align: 0;
}

.back-button {
  margin-top: 14px;
  color: black;
}

.picture {
  width: 80px;
  height: auto;
  border-radius: 50%;
  border: 5px solid #e1e8ed;
}

.info {
  list-style-type: none;
  padding-left: 0;
  text-align-last: center;
}

.substance {
  text-align: center;
  font-weight: 200;
  font-size: 18px;
}

.substance>a {
  text-decoration: underline;
}

.link {
  color: #2274A5;
}

.resume {
  color: #C13838;
}

.github {
  color: #706DD1;
}

.projects, .experience, .aboutMe {
  text-align: left;
}
